<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add
      key="uri"
      value="http://localhost:57055/api/"
      />
  </appSettings>
  <connectionStrings>
    <add name="BloodDonationDbContext" connectionString="data source=.\sqlexpress;initial catalog=BloodDonationCamp;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"
      providerName="System.Data.SqlClient" />
    <add name="BloodDonationCampWindowsForms.Properties.Settings.BloodDonationCampConnectionString"
      connectionString="Data Source=.\sqlexpress;Initial Catalog=BloodDonationCamp;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>